# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.pb.*.go
*.pb.go

# Test output file
coverage.json
coverage.txt
cover.html
cover.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Dependency directories (remove the comment below to include it)
# vendor/

bin/
.idea/

vendor/
gen/

.env